ion-fab {
  position: fixed;
  right: 5%;
}
ion-fab.add {
  bottom: 10%;
}

.work_date_field {
  width: 60%;
  padding: 0.375rem 0.75rem;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
