<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    class="custom-refresher"
  >
    <ion-refresher-content
      pullingIcon="refresh-outline"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="content">
      <app-top></app-top>
      <div class="container-fluid pt-4 px-4">
        <ion-fab
          slot="fixed"
          vertical="bottom"
          horizontal="end"
          class="view"
          (click)="toggleFormDiv('view')"
          *ngIf="hasAccess(env.view_users, userRole)"
        >
          <ion-fab-button size="small" color="primary">
            <i class="fa-solid fa-eye"></i>
          </ion-fab-button>
        </ion-fab>
        <a
          (click)="toggleFormDiv('create')"
          *ngIf="hasAccess(env.add_user, userRole)"
        >
          <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add">
            <ion-fab-button size="small" color="success">
              <i class="fa-solid fa-plus"></i>
            </ion-fab-button>
          </ion-fab>
        </a>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="sort">
          <ion-fab-button size="small" color="tertiary">
            <i class="fa-solid fa-arrow-up-wide-short"></i>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ul class="sorting">
              <li (click)="sort('')">Remove sorting</li>
              <li (click)="sort('1')">Sort by Full name (Desc)</li>
              <li (click)="sort('2')">Sort by Full name (Asc)</li>
            </ul>
          </ion-fab-list>
        </ion-fab>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="filter">
          <ion-fab-button size="small" color="warning">
            <i class="fa-solid fa-filter"></i>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ul class="filter">
              <li (click)="filterRecords('')">Remove filter</li>
              <li
                (click)="filterRecords(filters.role_id)"
                *ngFor="let filters of filter"
              >
                Filter by {{ filters.role_name }}
              </li>
            </ul>
          </ion-fab-list>
        </ion-fab>
        <div class="row g-4">
          <div class="col-sm-12 col-md-12 col-xl-4">
            <div class="card">
              <div class="card-body">
                <input
                  type="text"
                  [(ngModel)]="filterUser"
                  placeholder="Search by Staff Name"
                  class="form-control"
                />
                <div *ngIf="showLists">
                  <div
                    class="d-flex align-items-center border-bottom py-3"
                    *ngFor="let userList of userLists | searchUser:filterUser"
                    (click)="hasAccess(env.edit_user, userRole)?toggleFormDiv('edit', userList.user_id):denyAccess('Warning','You have no permission to access this module')"
                  >
                    <img
                      class="rounded-circle flex-shrink-0"
                      [src]="userList.profile_pic?imageURL+'/'+userList.profile_pic:defaultImageURL"
                      alt=""
                      style="width: 40px; height: 40px"
                    />
                    <div class="w-100 ms-3">
                      <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-0">
                          {{ userList.full_name | titlecase }}
                        </h6>
                        <small>{{ userList.user_role.role_name }}</small>
                      </div>
                      <div>
                        <span class="float-start">
                          <small
                            >Aadhar No. : {{ userList.aadhar_no }}</small
                          ></span
                        >
                        <span class="float-end"
                          ><small>Active: {{ userList.is_active }}</small></span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <form [formGroup]="addUserForm" *ngIf="addUserDiv">
                  <div
                    style="
                      margin-bottom: 10px;
                      font-weight: bold;
                      text-decoration: underline;
                      text-align: center;
                    "
                  >
                    ADD USER
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Full name
                      <b class="text-danger">* {{ nameErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="1"
                      class="form-control"
                      formControlName="full_name"
                      placeholder="Full name"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Role <b class="text-danger">* {{ roleErr }}</b></label
                    >
                    <select
                      class="form-control"
                      formControlName="user_role"
                      tabindex="2"
                    >
                      <option value="">Select Role</option>
                      <option
                        [value]="role.role_id"
                        *ngFor="let role of roleList"
                      >
                        {{ role.role_name }}
                      </option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Username
                      <b class="text-danger">* {{ userNameErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="3"
                      class="form-control"
                      formControlName="username"
                      placeholder="Username"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Password
                      <b class="text-danger">* {{ passwordErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="4"
                      class="form-control"
                      formControlName="password"
                      placeholder="Password"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Aadhar No
                      <b class="text-danger">* {{ aadharNoErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="5"
                      class="form-control"
                      formControlName="aadhar_no"
                      placeholder="Aadhar No"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Mobile <b class="text-danger"> {{ mobileErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="6"
                      class="form-control"
                      formControlName="mobile"
                      placeholder="Mobile"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Email <b class="text-danger"> {{ emailErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="7"
                      class="form-control"
                      formControlName="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >PAN No <b class="text-danger"> {{ panNoErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="8"
                      class="form-control"
                      formControlName="pan_no"
                      placeholder="PAN No"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Profile Image
                      <b class="text-danger">{{profilePicErr}} </b></label
                    ><br />
                    <img
                      src="../../assets/images/avatar.png"
                      style="margin-top: 10px; margin-bottom: 10px"
                      id="createProfileImage"
                      width="50"
                      height="50"
                    />
                    <input
                      tabindex="9"
                      class="form-control header_file"
                      type="file"
                      (change)="createUploadProfilePic($event)"
                    />
                  </div>
                  <button
                    type="submit"
                    tabindex="10"
                    class="btn btn-primary"
                    (click)="saveUser()"
                  >
                    Create user
                  </button>
                </form>
                <form [formGroup]="editUserForm" *ngIf="editUserDiv">
                  <div
                    style="
                      margin-bottom: 10px;
                      font-weight: bold;
                      text-decoration: underline;
                      text-align: center;
                    "
                  >
                    EDIT USER
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Full name
                      <b class="text-danger">* {{ nameErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="11"
                      class="form-control"
                      formControlName="full_name"
                      placeholder="Full name"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Role <b class="text-danger">* {{ nameErr }}</b></label
                    >
                    <select class="form-control" formControlName="user_role">
                      <option value="">Select Role</option>
                      <option
                        [value]="role.role_id"
                        *ngFor="let role of roleList"
                      >
                        {{ role.role_name }}
                      </option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Aadhar No
                      <b class="text-danger">* {{ aadharNoErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="5"
                      class="form-control"
                      formControlName="aadhar_no"
                      placeholder="Aadhar No"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Username
                      <b class="text-danger">* {{ userNameErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="12"
                      class="form-control"
                      formControlName="username"
                      placeholder="Username"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Active
                      <b class="text-danger">* {{ statusErr }}</b>
                    </label>
                    <select formControlName="is_active" class="form-control">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Email <b class="text-danger"> {{ emailErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="3"
                      class="form-control"
                      formControlName="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >PAN No <b class="text-danger"> {{ panNoErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="6"
                      class="form-control"
                      formControlName="pan_no"
                      placeholder="PAN No"
                    />
                  </div>

                  <div class="mb-3">
                    <label class="form-label"
                      >Mobile <b class="text-danger"> {{ mobileErr }}</b></label
                    >
                    <input
                      type="text"
                      tabindex="2"
                      class="form-control"
                      formControlName="mobile"
                      placeholder="Mobile"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label"
                      >Profile Image
                      <b class="text-danger">{{profilePicErr}} </b></label
                    ><br />
                    <img
                      [src]="editProfileImage"
                      style="margin-top: 10px; margin-bottom: 10px"
                      id="editProfileImage"
                      width="50"
                      height="50"
                    />
                    <input
                      tabindex="9"
                      class="form-control header_file"
                      type="file"
                      (change)="editUploadProfilePic($event)"
                    />
                  </div>
                  <button
                    type="submit"
                    tabindex="7"
                    class="btn btn-warning"
                    (click)="updateUser()"
                  >
                    Update profile
                  </button>
                  <button
                    type="submit"
                    tabindex="8"
                    class="btn btn-danger"
                    (click)="hasAccess(env.delete_user, userRole)?deleteUser():denyAccess('Warning','You have no permission to access this module')"
                  >
                    Delete profile
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    [message]="saveMsg"
    [duration]="3000"
    (didDismiss)="setToastOpen(false)"
  ></ion-toast>
  <ion-infinite-scroll (ionInfinite)="infiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
