<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    class="custom-refresher"
  >
    <ion-refresher-content
      pullingIcon="refresh-outline"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="content">
      <app-top></app-top>
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-12 col-md-12 col-xl-4">
            <ion-fab
              slot="fixed"
              vertical="bottom"
              horizontal="end"
              class="normal"
            >
              <ion-fab-button
                color="success"
                size="small"
                (click)="toggleReportList('normal-wage')"
                [disabled]="normalWageBtn"
                *ngIf="hasAccess(env.view_labour_wages, userRole)"
              >
                <i class="fa-solid fa-money-bill-wave"></i>
              </ion-fab-button>
            </ion-fab>
            <ion-fab
              slot="fixed"
              vertical="bottom"
              horizontal="end"
              class="special"
            >
              <ion-fab-button
                color="primary"
                size="small"
                (click)="toggleReportList('special-wage')"
                [disabled]="specialWageBtn"
                *ngIf="hasAccess(env.view_labour_special_wages, userRole)"
              >
                <i class="fa-solid fa-dollar-sign"></i>
              </ion-fab-button>
            </ion-fab>
            <ion-fab
              slot="fixed"
              vertical="bottom"
              horizontal="end"
              class="attendance"
            >
              <ion-fab-button
                color="warning"
                size="small"
                (click)="toggleReportList('attendance')"
                [disabled]="attendanceBtn"
                *ngIf="hasAccess(env.show_attendances, userRole)"
              >
                <i class="fa-solid fa-calendar"></i>
              </ion-fab-button>
            </ion-fab>

            <div class="card">
              <div class="card-body">
                <div *ngIf="normalWageDiv">
                  <b>Normal Wages</b><br /><br />
                  <app-normal-wages></app-normal-wages>
                </div>
                <div *ngIf="specialWageDiv">
                  <b>Special Wages</b><br /><br />
                  <app-special-wages></app-special-wages>
                </div>
                <div *ngIf="attendanceDiv">
                  <b>Show Attendances</b><br /><br />
                  <app-show-attendance></app-show-attendance>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
