ion-fab {
  position: fixed;
  right: 5%;
}
ion-fab.normal {
  bottom: 10%;
}
ion-fab.special {
  bottom: 20%;
}
ion-fab.attendance {
  bottom: 30%;
}
.card {
  background-color: #fbfffb;
  border: 0;
  width: 100%;
  margin-left: 0%;
  margin-top: -4%;
}
