<ion-content [fullscreen]="true" class="login-content">
  <div class="wrapper">
    <div class="form-container">
      <div class="container">
        <img src="../../assets/images/labour_icon.png" class="labour_icon" />
        <div class="form-box">
          <div class="header_text remove-bg">LABOUR MANAGEMENT</div>
          <form class="row remove-bg" [formGroup]="loginForm">
            <div class="input-group">
              <input
                type="text"
                placeholder="Enter Username"
                class="form-control remove-bg"
                formControlName="username"
              />
            </div>
            <b class="errors">{{ usernameErr }}</b>
            <div class="input-group">
              <input
                type="password"
                placeholder="Enter Password"
                class="form-control remove-bg"
                formControlName="password"
              />
            </div>
            <b class="errors">{{ passwordErr }}</b>
            <button type="button" class="btn btn-primary" (click)="login()">
              Log In
            </button>
            <div class="spinner-border remove-bg" *ngIf="isLoading"></div>
            <div
              class="remove-bg text-danger"
              style="font-weight: bold; margin-top: 5px"
            >
              {{ loginErr }}
            </div>
            <div class="remove-bg version" style="font-weight: bold">
              Version: {{ version }}
            </div>
          </form>
        </div>
        <div class="circle top"></div>
        <div class="circle bottom"></div>
      </div>
    </div>
  </div>
</ion-content>
