<small>Labour</small>
<select (change)="getUserPerformanceDetails($event)" class="form-control">
  <option value="">Select Labour</option>
  <option [value]="users.user_id" *ngFor="let users of labourLists">
    {{ users.full_name }}
  </option>
</select>

<div *ngIf="wages">
  <hr />
  <p><b>Labour Name : </b>{{ labourName }}</p>
  <p><b>Labour rate per wages : </b> &#8377;{{ labourRate }}/-</p>

  <p>Till today</p>
  <p>
    <b>Labour total attendance : </b> {{ labourTotalWages }}<br />
    <b>Labour total wages : </b> &#8377;{{ labourRate * labourTotalWages
    }}<br />
    <b>Labour total advance : </b> &#8377;{{ labourTotalPayment }}/-<br /><br />
    <span
      [innerHTML]="
        duePending(labourTotalPayment, labourRate * labourTotalWages)
      "
      style="color: rgb(173, 66, 4); font-weight: bold"
    ></span>
  </p>
  <hr />
  <span class="float-start" style="font-weight: bold"> Payment </span>
  <span class="float-end" style="color: blue" (click)="openModal()">
    Payment Lists
  </span>

  <div style="clear: both" style="margin-bottom: 45px"></div>
  <form [formGroup]="addWageForm">
    <input type="hidden" formControlName="labour" [(ngModel)]="labourID" />
    <small
      >Payment Date <b class="text-danger">* {{ paymentDateErr }}</b></small
    >
    <input
      type="date"
      [(ngModel)]="currentDate"
      formControlName="payment_date"
      class="form-control"
    /><br />
    <small
      >Payment <b class="text-danger">* {{ paidAmountErr }}</b></small
    >
    <input
      type="text"
      formControlName="paid_amount"
      placeholder="Enter Payment"
      class="form-control"
    /><br />
    <small
      >Payment Type <b class="text-danger">* {{ paymentTypeErr }}</b></small
    >
    <select formControlName="payment_type" class="form-control">
      <option value="weekly">Weekly</option>
      <option value="advance">Advance</option>
    </select>
    <br />
    <button class="btn btn-primary" (click)="save()">Save</button>
  </form>
</div>

<ion-modal
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  handleBehavior="cycle"
  #normalPaymentListModel
>
  <ng-template>
    <div class="block">
      <div style="text-align: center; font-weight: bold; margin-bottom: 10px">
        Normal Payment Lists
      </div>
      <table width="100%">
        <tr>
          <th style="padding: 15px">Date</th>
          <th>Paid (in &#8377;)</th>
          <th>Type</th>
          <th *ngIf="hasAccess(22, userRole)">Option</th>
        </tr>
        <tr *ngFor="let paymentList of paymentLists">
          <td>
            {{ paymentList.payment_date | date : "dd/MM/yyyy" }}
          </td>
          <td>{{ paymentList.paid_amount }}</td>
          <td>{{ paymentList.payment_type | titlecase }}</td>
          <td *ngIf="hasAccess(22, userRole)">
            <a href="javascript:void(0)"> EDIT </a>
          </td>
        </tr>
      </table>
    </div>
  </ng-template>
</ion-modal>
<ion-toast
  [isOpen]="isToastOpen"
  [message]="saveMsg"
  [duration]="3000"
  (didDismiss)="setToastOpen(false)"
></ion-toast>
