<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    class="custom-refresher"
  >
    <ion-refresher-content
      pullingIcon="refresh-outline"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="content">
      <app-top></app-top>
      <div class="container-fluid pt-4 px-4">
        <ion-fab
          slot="fixed"
          vertical="bottom"
          horizontal="end"
          class="view"
          (click)="toggleFormDiv('view')"
          *ngIf="hasAccess(env.labour_attendances, userRole)"
        >
          <ion-fab-button size="small" color="primary">
            <i class="fa-solid fa-eye"></i>
          </ion-fab-button>
        </ion-fab>
        <div
          style="
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
          "
        >
          Attendance as on {{ currentDate | date : "dd/MM/yyyy" }}
        </div>
        <div class="row g-4">
          <div class="col-sm-12 col-md-12 col-xl-4">
            <div class="card">
              <div class="card-body">
                <div *ngIf="showLists">
                  <div
                    class="d-flex align-items-center border-bottom py-3"
                    *ngFor="let workSites of workSitesLists"
                  >
                    <div
                      class="w-100 ms-3"
                      [class.disabled]="
                        hasPresent && workSites.Attendance.Status !== 'Present'
                      "
                      (click)="
                        !(
                          hasPresent &&
                          workSites.Attendance.Status !== 'Present'
                        ) &&
                          (workSites.Attendance.Status === 'Present'
                            ? toggleFormDiv(
                                'check-out',
                                workSites.Attendance.AttendanceID,
                                workSites.WorkSiteID
                              )
                            : workSites.Attendance.Status === 'Check-out'
                            ? popup(
                                'Check-out',
                                'You have already checked out.'
                              )
                            : toggleFormDiv(
                                'check-in',
                                '',
                                workSites.WorkSiteID
                              ))
                      "
                    >
                      <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-0" style="float: left">
                          {{ workSites.WorkSiteName | titlecase }}
                        </h6>
                        <small
                          style="float: right"
                          [ngStyle]="{
                            color:
                              workSites.Attendance.Status === 'Present'
                                ? '#15ac06'
                                : workSites.Attendance.Status === 'Absent'
                                ? '#bd2305'
                                : '#ccac09'
                          }"
                          >{{ workSites.Attendance.Status }}
                        </small>
                      </div>
                      <small>Location : {{ workSites.WorkSiteLocation }}</small>
                    </div>
                  </div>
                </div>
                <!-- Check-In -->
                <div *ngIf="checkInFormDiv">
                  <b>You are about to check in from : {{ siteName }}</b
                  ><br /><br />
                  <b>Your check in time :</b>
                  {{ currentDateTime | date : "dd/MM/yyyy hh:mm:ss a"
                  }}<br /><br />
                  <b>Your Location :</b> {{ currentLocation }}<br /><br />
                  <b>Your Latitude :</b> {{ currentLatitude }}<br /><br />
                  <b>Your Longitude :</b> {{ currentLongitude }}<br /><br />
                  <button
                    class="btn btn-primary"
                    (click)="checkIn()"
                    *ngIf="checkBtn"
                  >
                    Check In
                  </button>
                </div>
                <!-- Check-Out -->
                <div *ngIf="checkOutFormDiv">
                  <form [formGroup]="checkOutForm">
                    <b>You are about to check out from : {{ siteName }} </b
                    ><br /><br />
                    <b>Your check out time :</b>
                    {{ currentDateTime | date : "dd/MM/yyyy hh:mm:ss a"
                    }}<br /><br />
                    <b>Your Location :</b> {{ currentLocation }}<br /><br />
                    <b>Your Latitude :</b> {{ currentLatitude }}<br /><br />
                    <b>Your Longitude :</b> {{ currentLongitude }}<br /><br />
                    <b>
                      Description :
                      <span class="text-danger">
                        * {{ descriptionErr }}</span
                      ></b
                    >
                    <textarea
                      class="form-control"
                      formControlName="description"
                      placeholder="Enter description"
                    ></textarea>
                    <div style="margin-top: 10px">
                      <button
                        class="btn btn-danger"
                        (click)="checkOut()"
                        *ngIf="checkBtn"
                      >
                        Check Out
                      </button>
                    </div>
                  </form>
                </div>
                <br />
                <div class="text-danger" *ngIf="errorDiv">
                  <ol>
                    <li>{{ labourErr }}</li>
                    <li>{{ labourRateErr }}</li>
                    <li>{{ workSiteErr }}</li>
                    <li>{{ workDateErr }}</li>
                    <li>{{ locationErr }}</li>
                    <li>{{ checkInErr }}</li>
                    <li>{{ checkOutErr }}</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    [message]="saveMsg"
    [duration]="3000"
    (didDismiss)="setToastOpen(false)"
  ></ion-toast>
  <ion-infinite-scroll (ionInfinite)="infiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
