<ion-content [fullscreen]="true">
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="content">
      <app-top></app-top>
      <ion-fab
        slot="fixed"
        vertical="bottom"
        horizontal="end"
        class="view"
        (click)="toggleFormDiv('view')"
      >
        <ion-fab-button size="small" color="primary">
          <i class="fa-solid fa-eye"></i>
        </ion-fab-button>
      </ion-fab>

      <ion-fab
        slot="fixed"
        vertical="bottom"
        horizontal="end"
        class="add"
        (click)="toggleFormDiv('add')"
      >
        <ion-fab-button size="small" color="success">
          <i class="fa-solid fa-plus"></i>
        </ion-fab-button>
      </ion-fab>
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-12 col-xl-6">
            <div *ngIf="showAttendanceDiv">
              <app-view-attendances
                [currentDateTime]="currentDateTime"
                [currentDate]="currentDate"
              ></app-view-attendances>
            </div>
            <div *ngIf="addAttendanceDiv">
              <app-add-attendances
                [currentDateTime]="currentDateTime"
                [currentDate]="currentDate"
              ></app-add-attendances>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
