<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    class="custom-refresher"
  >
    <ion-refresher-content
      pullingIcon="refresh-outline"
      refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="content">
      <app-top></app-top>
      <div class="container-fluid pt-4 px-4">
        <ion-fab
          slot="fixed"
          vertical="bottom"
          horizontal="end"
          class="view"
          (click)="toggleFormDiv('view')"
          *ngIf="hasAccess(env.note_book_notification, userRole)"
        >
          <ion-fab-button size="small" color="primary">
            <i class="fa-solid fa-eye"></i>
          </ion-fab-button>
        </ion-fab>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="sort">
          <ion-fab-button size="small" color="tertiary">
            <i class="fa-solid fa-arrow-up-wide-short"></i>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ul class="sorting">
              <li (click)="sort('')">Remove sorting</li>
              <li (click)="sort('1')">Sort by Work Site Date (Desc)</li>
              <li (click)="sort('2')">Sort by Work Site Date (Asc)</li>
            </ul>
          </ion-fab-list>
        </ion-fab>

        <div class="row g-4">
          <div class="col-sm-12 col-md-12 col-xl-4">
            <div class="card">
              <div class="card-body">
                <div *ngIf="showLists">
                  <div
                    class="d-flex align-items-center border-bottom py-3"
                    *ngFor="let noteBooks of noteBooksLists"
                    (click)="
                      hasAccess(env.check_note_book, userRole)
                        ? noteBooks.checked === 'yes'
                          ? checkedAlready()
                          : toggleFormDiv('save_form', noteBooks.note_book_id)
                        : denyAccess(
                            'Warning',
                            'You have no permission to access this module'
                          )
                    "
                  >
                    <div class="w-100 ms-3">
                      <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-0">{{ noteBooks.note_title }}</h6>
                        <small>{{
                          noteBooks.work_date | date : "dd/MM/yyyy"
                        }}</small>
                      </div>
                      <small
                        >Work Site :
                        {{ noteBooks.work_site.work_site_name }}</small
                      >
                      <br />
                      <span style="color: rgb(111, 7, 207)">
                        {{ noteBooks.description }}
                      </span>
                    </div>
                  </div>
                </div>

                <form [formGroup]="checkNoteBookForm" *ngIf="noteBookCheckForm">
                  <table style="width: 100%">
                    <tr>
                      <td style="padding-top: 5px">
                        <label class="form-label"
                          >Check Note
                          <b class="text-danger">* {{ checkNoteErr }}</b>
                        </label>
                        <textarea
                          placeholder="Check Note"
                          formControlName="check_note"
                          tabindex="1"
                          class="form-control"
                        ></textarea>
                      </td>
                    </tr>
                  </table>

                  <div style="padding-top: 5px">
                    <button
                      type="submit"
                      tabindex="2"
                      class="btn btn-primary"
                      (click)="checkNoteBook()"
                    >
                      Check
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    [message]="saveMsg"
    [duration]="3000"
    (didDismiss)="setToastOpen(false)"
  ></ion-toast>
</ion-content>
